.Titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.Principal{
    background: ccc;
    padding: 20px;
}

.Titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{  
    color: red;
}

#mision{
    font-size: 20px;
}

.Diferenciales{
    background: #ffffff ;
    padding: 30px;
}

.Items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.ImagenDiferenciales{
    width: 50%;
}
